* {
  letter-spacing: 1.2px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}
nav a {
  color: white;
  text-decoration: none;
  margin: 15px 20px;
}
nav button {
  background-color: white;
  border: none;
  padding: 5px 20px;
  font-weight: bold;
  margin: 15px;
}
form {
  width: 500px;
  margin: 50px auto;
  text-align: left;
  padding: 20px 15px;
  box-shadow: 3px 3px 7px 1px rgb(153, 153, 153);
  border-radius: 4px;
}
form input {
  width: 97%;
  margin: 10px 0;
  padding: 4px;
}
label {
  font-weight: 500;
}
form button {
  width: 100%;
  margin: 15px 0;
  padding: 10px;
  font-weight: 500;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}
#homepage {
  width: 400px;
  margin: 50px auto;
  text-align: left;
  padding: 20px 15px;
  box-shadow: 3px 3px 7px 1px rgb(153, 153, 153);
  border-radius: 4px;
}
#homepage h1 {
  /* text-align: center; */
}
#homepage p span {
  font-weight: 500;
  color: #000;
  font-size: 18px;
}
#homepage p {
  color: rgb(67, 67, 67);
}
#emp article {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#emp article div {
  width: 290px;
  margin: 15px;
  padding: 10px 20px;
  padding-top: 0;
  text-align: left;
  border-radius: 4px;
  box-shadow: 3px 3px 7px 1px rgb(153, 153, 153);
}
div button {
  margin: 5px 0;
  padding: 10px 20px;
  border: none;
  background-color: #000;
  color: #fff;
  border-radius: 4px;
}
div span {
  color: red;
  font-weight: 500;
}

#single {
  box-shadow: 3px 3px 7px 1px rgb(153, 153, 153);
  width: 300px;
  margin: 40px auto;
  text-align: left;
  padding: 15px 30px;
}
#single img {
  width: 90%;
  margin: 10px 5%;
  height: 300px;
}
